html, body {
    margin: 0;
    font-family: Arial;
}

#slide-show {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
}
		 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}
		 
.show {
    opacity: 1;
    z-index: 2;
}